<h1><%= @restaurant.name %></h1>
<h1><%= @restaurant.address %></h1>
<form action="/restaurants">
    <label for="name">Name</label>
<label for="address">Address</label>
<input type="text">
<label for="rating">Rating</label>
<input type="number">
<input type="submit">
</form>

